<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/search/searchListMainPage.css" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/4fab4e86c9.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="up-l"></div>

      <!-- 최상단 메뉴(UPPERMOST) -->
      <div class="up">
        <a href="/templates/mainPage/EZMain.html" class="up__link">HOME</a>
        <a href="/templates/member/SignUp.html" class="up__link">회원가입</a>
        <a href="/templates/myPage/myPage.html" class="up__link">마이페이지</a>
        <a href="/templates/member/LogIn.html" class="up__link">로그인</a>
      </div>

      <div class="up-r"></div>

      <div class="hd-l"></div>

      <!-- 헤더 (HEADER) -->
      <header class="hd">
        <div class="hd__menu-item">
          <a href="/templates/search/SearchListMain.html" class="link"
            >검색ez</a
          >
          <a href="" class="link">광장ez</a>
          <a href="" class="link">ez가이드</a>
          <a href="" class="link">사이트맵</a>
        </div>
        <div class="hd__logo-item">
          <a href="" class="link">
            <i class="hd__logo fa-solid fa-house"></i>
            <h2>캠핑EZ</h2>
          </a>
        </div>
        <div class="hd__empty-item"></div>
      </header>

      <div class="hd-r"></div>

      <div class="gnb-l"></div>

      <!-- gnb영역 -->
      <nav class="gnb">
        <div class="gnb__gwangjang-submenu">
          <div>
            <a href="/templates/community/notice.html" class="gnb__depth link"
              >공지사항</a
            >
          </div>
          <div>
            <a
              href="/templates/community/butlletinBoard.html"
              class="gnb__depth link"
              >자유게시판</a
            >
          </div>
          <div>
            <a href="/templates/community/question.html" class="gnb__depth link"
              >질문게시판</a
            >
          </div>
        </div>
        <div>
          <a href="/templates/search/SearchListMain.html" class="link"
            >검색ez</a
          >
        </div>
        <div><a href="" class="link">광장ez</a></div>
        <div><a href="" class="link">ez가이드</a></div>
      </nav>

      <div class="gnb-r"></div>

      <div class="mn-l"></div>

      <!-- 메인영역(MAIN) -->
      <main class="mn">
        <div class="mn__img">
          <!-- 검색영역(SEARCHBOX) -->
          <section class="img__searchBox">
            <button class="img__searchBox-search">검색</button>
            <input type="search" class="img__searchBox-bar" />
            <div class="img__searchBox-options">
              <select name="" id="img__searchBox-options-select">
                <option value="">종류</option>
                <option value="">글램핑</option>
                <option value="">오토캠핑</option>
                <option value="">카라반</option>
              </select>
              <select name="" id="">
                <option value="">지역</option>
                <option value="">경상도</option>
                <option value="">전라도</option>
                <option value="">강원도</option>
                <option value="">경기도</option>
              </select>
              <select name="" id="">
                <option value="">내부시설</option>
                <option value="">화장실</option>
                <option value="">전기</option>
                <option value="">도심</option>
                <option value="">섬</option>
              </select>
            </div>
          </section>
        </div>

        <!-- 메인 제목 -->
        <div class="mn__title">
          <h3 class="mn__title-first">
            <i class="fa-solid fa-tree"></i>
            등록된 캠핑장
          </h3>
        </div>

        <!-- 메인 캠핑장 등록 -->
        <section class="mn__main">
          <div class="mn__main-empty1-l"></div>

          <div class="mn__main-photo">
            <a href="" class="link"
              ><img src="https://picsum.photos/200" alt=""
            /></a>
          </div>

          <div class="mn__main-write">
            <p class="mn__main-name link">
              <a href="/templates/detailPage/detailPage-user.html"
                >태화산 신선 계곡 캠핑장</a
              >
            </p>
            <p class="mn__main-address">울산광역시 남구 dj동</p>
            <p>000-0000-0000</p>
            <span class="mn__main-tag">
              <div class="mn__main-tag-detail">#글램핑</div>
              <div class="mn__main-tag-detail">#울산</div>
              <div class="mn__main-tag-detail">#계곡</div>
            </span>
          </div>

          <div class="mn__main-empty1-r"></div>

          <div class="mn__main-empty2-l"></div>

          <div class="mn__main-photo">
            <a href="" class="link"
              ><img src="https://picsum.photos/200" alt=""
            /></a>
          </div>

          <div class="mn__main-write">
            <p class="mn__main-name link">
              <a href="/templates/detailPage/detailPage-user.html"
                >앞산 신선 계곡 캠핑장</a
              >
            </p>
            <p class="mn__main-address">울산광역시 남구 dj동</p>
            <p>000-0000-0000</p>
            <span class="mn__main-tag">
              <div class="mn__main-tag-detail">#글램핑</div>
              <div class="mn__main-tag-detail">#울산</div>
              <div class="mn__main-tag-detail">#계곡</div>
            </span>
          </div>

          <div class="mn__main-empty2-r"></div>

          <div class="mn__main-empty3-l"></div>

          <div class="mn__main-photo">
            <a href="" class="link"
              ><img src="https://picsum.photos/200" alt=""
            /></a>
          </div>

          <div class="mn__main-write">
            <p class="mn__main-name link">
              <a href="/templates/detailPage/detailPage-user.html"
                >뒷산 신선 계곡 캠핑장</a
              >
            </p>
            <p class="mn__main-address">울산광역시 남구 dj동</p>
            <p>000-0000-0000</p>
            <span class="mn__main-tag">
              <div class="mn__main-tag-detail">#글램핑</div>
              <div class="mn__main-tag-detail">#울산</div>
              <div class="mn__main-tag-detail">#계곡</div>
            </span>
          </div>

          <div class="mn__main-empty3-r"></div>
        </section>
      </main>

      <div class="mn-r"></div>

      <div class="ft-l"></div>

      <!-- 푸터영역(FOOTER)-->
      <footer class="ft">
        <div class="ft__logo-cell">
          <h2>캠핑EZ</h2>
        </div>
        <div class="ft__info-cell">
          <div class="ft__links">
            <a href="" class="link">개인정보취급방침</a>
            <a href="" class="link">홈페이지이용약관</a>
            <a href="" class="link">광고및제휴문의</a>
          </div>
          <div class="ft__others">
            <p>Copyrights(c) 2023 www.campingez.com. ALL RIGHTS RESERVED.</p>
            <p>TEL 010-1234-5678 (상담시간: 평일 10:00~18:00)</p>
            <p>E-MAIL : webmaster@testmail.com</p>
          </div>
        </div>
        <div class="ft__empty-cell"></div>
      </footer>

      <div class="ft-r"></div>
    </div>
  </body>
</html>
